<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrownFit</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/carousel.css" rel="stylesheet" />
</head>
<body>
    @*http://masteracademiafortaleza.com.br/*@
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Content("~/")">
                    <img class="img-responsive" src="~/Images/BrownFitLogo.PNG" style="max-width: 120px;" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href = "@Url.Content("~/About")">Saiba Mais</a></li>

                    <li><a href="@Url.Content("~/perfils")">Perfil</a></li>
                    <li><a href="@Url.Content("~/usuarios")">Usuários</a></li>
                    <li><a href="@Url.Content("~/usuarioperfils")">Usuário x Perfil</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Login")">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BrownFit</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/meiomask.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
